* {
  box-sizing: border-box; }

.container {
  margin: 20px auto;
  height: 257px;
  max-height: 300px;
  max-width: 500px;
  border: 1px solid #00939A; }

header {
  height: 45px;
  width: 500px;
  padding: 15px;
  background-color: #005F9F;
  border-top: none;
  border: 1px solid #00939A;
  font-size: 20px;
  color: white; }

header:hover {
  background-color: #59C9D5; }

.box-content {
  height: 0px;
  font-size: 14px;
  overflow: auto; }

p {
  margin: 25px; }
